.map {
  width: 80%;
  margin: 0 auto;

  &-header {
      font-size: 30px;
      text-align: center;

  }

  &-show {
    width: 80vw;
    height: 30vw;
    margin: 5% 0;
  }

  .check-in-btn {
      
  }

}
